*{
	margin:0px;
	padding:0px;
	font-family: gotham, calibri;
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	
	
	
}

body,html{
	width:100%;
	height:100%;
	background-color: #f4f4f4;
}







		#head{
			width:100%;
			height:90vh;
		background: #1e5799; /* Old browsers */
		background: -moz-linear-gradient(top, #1e5799 0%, #207cca 39%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(39%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 39%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1e5799 0%,#207cca 39%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #1e5799 0%,#207cca 39%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
		background: linear-gradient(to bottom, #1e5799 0%,#207cca 39%,#2989d8 50%,#7db9e8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
		}
	
	

#head .phone{
	width:45%;
	float:right;
	background:transparent;
}


#head .text{
	width:40%;
	float:left;
	background:transparent;
	margin-left:5%;
	margin-top:5%;
}

#head .quit{
	background:transparent;
	width:70%;
}

#head .text h1{
	color:white;
    margin-left: 15%;
	width:100%;
	background:transparent;
	font-family:gotham,calibri;
}


#get_app {
    background-color: #2C3E50;
    width: 50%;
	text-decoration: none;
    height: auto;
    display: inline-block;
    line-height: 60px;
    font-size: 25px;
    color: #fff;
    -webkit-border-radius: 7px;
    margin-top: 5%;
    margin-left: 15%;
	text-transform:uppercase;
	text-align:center;
	
	
	
}

#get_app:hover {

    text-decoration: none;
    background-color: #31465B;
}

#get_app:active {

    position: relative;
    top: 3px;
}

#trailer{
	width:100%:
}

#trailer video{
	margin-top:-5%;
	width:100%;
	height:auto;
}

#about{
	text-align:center;
	margin-top:5%;
	background-color: #f4f4f4;
}


#about .step{
	margin-top:1%;
	width:33%;
	float:left;
	padding:1%;
}

@media(max-width:1000px){
body,html{
height:auto;
}
#about .step{
	margin-top:1%;
	width:90%;
	float:left;
	margin:0 auto;
	padding:1%;
}

#head{
	padding-top:5%;
	padding-bottom:5%;
}
#head .phone{
	width:90%;
	margin:0 auto;
	float:left;
	background:transparent;
}

#head .text{
	margin-top:0;
	width:100%;
	height:60%;
	float:left;
	text-align:center;
}

#head .text h1{
	margin: 0;
}

#get_app{
	margin-left:0;
	text-align:center;
}

}

#about .step p{
	font-size:0.6em;
}

#about .step img{
	width:40%;
	height:auto;
	margin-bottom:2%;
}





